<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="theme-color" content="#000">
  <meta charset="UTF-8">
  <meta name="description" content="{{data['description']}}" />
  <meta name="keywords" content="clash royale,clash royale api,clashemperors,clash emperors">
  <meta name="author" content="Arijit Paine">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap_files/bootstrap.css')}}" type="text/css"
    media="all" />
  <link href="static/css/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="shortcut icon" href="static/assets/logo/favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <title>Clash Emperors</title>
</head>

<body class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="static/assets/icons/A_Char_King_03.png" class="logo1" />Clash
        Emperors</a>

      <div style="display: flex;flex-direction: column;align-items:center;justify-content:center">
        <small style="display:none" id="light">light Mode</small>
        <div class="form-check form-switch">
          <input type="checkbox" class="checkbox" id="check" />
          <div class="content">
            <label class="label" for="check">
              <i class="fab fa-galactic-republic"></i>
              <i class="fab fa-rebel"></i>
              <div class="ball"></div>
            </label>
            <span class="image">
              <i class="fab fa-galactic-republic"></i>
              <i class="fab fa-rebel"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section>
    <br />
    <div>
      <div class="center">
        <div class="claninfo">
          <h3>Clash Emperors <a href="clashroyale://clanInfo?id=LCC0JUG9"><button type="button"
                class="btn btn-outline-success">Join</button></a></h3>
          <div id="rce">
            <span><img width="18" height="18"
                src="static/assets/icons/trophy.png">&nbsp;{{data['clanScore']}}</span>&nbsp;&nbsp;&nbsp;<span>{{data['tag']}}</span>&nbsp;&nbsp;&nbsp;<span><img
                width="20" height="20"
                src="static/assets/icons/cw-trophy.png" />&nbsp;{{data['clanWarTrophies']}}</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <p style="text-align: center">{{data['description']}}</p><br />
    <div style="display: flex; justify-content:center;margin-top:0;">

      <div class="clanInformation">
        <div class="column">
          <div class="mdiv">
            <img src="static/assets/icons/trophy-ribbon.png" />
            <div>
              <span>Trophies</span><br>
              <small>{{data['clanScore']}}</small>
            </div>
          </div>

          <div class="mdiv">
            <img src="static/assets/icons/cards.png" />
            <div>
              <span>Donations per <br /> week</span><br>
              <small>{{data['donationsPerWeek']}}</small>
            </div>
          </div>

          <div class="mdiv">
            <img style="width:40px;height:28px" src="static/assets/icons/flag.jpg" />
            <div>
              <span>Region</span><br>
              <small>{{data['location']['name']}}</small>
            </div>
          </div>

        </div>
        <div style="height: 10px; width:50px"></div>
        <div class="column c2">
          <div class="mdiv">
            <img src="static/assets/icons/trophy.png" />
            <div>
              <span>Required trophies</span><br>
              <small>{{data['requiredTrophies']}}</small>
            </div>
          </div>

          <div class="mdiv">
            <img style="height: 35px" src="static/assets/icons/social.png" />
            <div>
              <span>Members</span><br>
              <small>{{data['members']}} / 50 </small>
            </div>
          </div>

          <div class="mdiv">
            <img src="static/assets/icons/people.png" />
            <div>
              <span>Type</span><br>
              <small>{{data['type']}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <section>
      <div>
        <h5 style="text-align: center">Members</h5>
        <hr style="width: 100px; display:block;margin: auto;" />
      </div>
      <br>
      <style type="text/css" media="all">
        th,
        td {
          font-size: 0.7rem;
          text-align: center;
          vertical-align: middle;
          height: 40px;
        }
      </style>
      <table class="table table-hover table-striped">
        <thead class="table-dark fixced-top">
          <tr>
            <th style="color:#fff; position: static;top: 0;background: #333">#</th>
            <th style="color:#fff; position: static;top: 0;">Name</th>
            <th style="color:#fff; position: static;top: 0;">Role</th>
            <th style="color:#fff; position: static;top: 0;">Trophies</th>
            <th style="color:#fff; position: static;top: 0;">Level</th>
            <th style="color:#fff; position: static;top: 0;" class="hide">Donated <br> Recived</th>
          </tr>
        </thead>
        <tbody>
          {% for name in mArrey %}
          <tr class="tabletr">
            <th style="color:#fff; background: #212529;" class="tabletr"><strong>{{ name['clanRank'] }}</th>
            <td class="tabletr"><strong>{{ name['name'] }} </strong>
              <br>
              <small class="lastSeen">

              </small>
            </td>
            <td class="tabletr">{{ name['role'] }}</td>
            <td class="tabletr">{{ name['trophies'] }}&nbsp;<img height="15" width="15"
                src="static/assets/icons/trophy.png" /></td>
            <td class="tabletr">{{ name['expLevel'] }}</td>
            <td class="tabletr">{{ name['donations'] }}<br />{{ name['donationsReceived'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </section>
  <br /><br />
  <footer class="bg-dark">
    <br /><br />
    <p style="text-align:center;color: #fff">©2021 RoyaleAPI.com. All rights reserved.</p>
    <br /><br />
    <h3 style="color: #fff;text-align: center;font-size:20px;text-decoration:underline">
      Devloper's Information
    </h3>
    <div style="text-align:center;color: #fff">
      <p><strong>Name</strong> : Arijit Paine <br>
        <strong>Email</strong> : arijitpaine647@gmail.com
      </p>
    </div>
    <br />
  </footer>
  <script type="text/javascript" charset="utf-8">
    let dayArr = {{ dayArr }}
    let H_arr = {{ H_arr }}
    let M_arr = {{ M_arr }}
    for (let i = 0; i < dayArr.length; i++) {
      let small = document.querySelectorAll('.lastSeen');
      let day = dayArr[i]
      if (day === 0) {
        day = ""
      } else {
        day = dayArr[i] + "d "
      }
      let Hour = H_arr[i]
      if (Hour === 0) {
        Hour = ""
      } else {
        Hour = H_arr[i] + "h "
      }
      let Minutes = M_arr[i]
      if (Minutes === 0) {
        Minutes = "";
      } else {
        Minutes = M_arr[i] + "m ";
      }
      small[i].innerHTML = `${day}${Hour}${Minutes}`;
    }

  </script>
  <script src="{{url_for('static', filename='bootstrap_files/bootstrap1.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap_files/bootstrap2.js')}}"></script>
  <script src="static/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>